<div class="container">
  <h1 class="text-center my-4">Task Master</h1>
  <app-to-do-edit></app-to-do-edit>
</div>

<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col-xl-4">
      <app-to-do-list [tasks]="toDoTasksStorage"></app-to-do-list>
    </div>
    <div class="col-xl-4">
      <app-important-tasks
        [tasks]="importantTasksStorage"
      ></app-important-tasks>
    </div>
    <div class="col-xl-4">
      <app-done-tasks [tasks]="doneTasksStorage"></app-done-tasks>
    </div>
  </div>
</div>
<div class="container-sm d-grid justify-content-center">
  <p class="text-center text-muted" *ngIf="changesSaved">Saved!</p>
  <p class="text-center text-muted" *ngIf="deletedAll">Deleted!</p>
</div>
<div class="container d-flex gap-2 justify-content-center mt-2">
  <button class="btn btn-dark shadow" (click)="onClickSave()">
    save changes
  </button>
  <button class="btn btn-danger shadow" (click)="onClickDeleteAll()">
    delete all
  </button>
</div>
<footer class="container mx-auto">
  <app-footer></app-footer>
</footer>
