<div class="container">
  <h1 class="text-center my-4">Task Master</h1>
  <app-to-do-edit></app-to-do-edit>
</div>

<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col-xl-4">
      <app-to-do-list [tasks]="toDoTasksStorage"></app-to-do-list>
    </div>
    <div class="col-xl-4">
      <app-important-tasks
        [tasks]="importantTasksStorage"
      ></app-important-tasks>
    </div>
    <div class="col-xl-4">
      <app-done-tasks [tasks]="doneTasksStorage"></app-done-tasks>
    </div>
  </div>
</div>

<div class="d-grid col-md-3 col-5 mx-auto mb-2">
  <button
    class="btn shadow"
    (click)="onClickSave()"
    [ngClass]="{ 'btn-success': changesSaved, 'btn-dark': !changesSaved }"
  >
    {{ changesSaved ? "Saved" : "Save changes" }}
  </button>
</div>

<div class="d-grid col-md-3 col-5 mx-auto">
  <button
    class="btn shadow"
    (click)="onClickDeleteAll()"
    [ngClass]="{ 'btn-success': deletedAll, 'btn-danger': !deletedAll }"
  >
    {{ deletedAll ? "Deleted" : "Delete all" }}
  </button>
</div>

<footer class="container mx-auto">
  <app-footer></app-footer>
</footer>
