<div>
  <form
    class="form-floating mb-3 shadow-sm"
    id="form"
    ngNativeValidate
    (ngSubmit)="onSubmit(taskForm)"
    #taskForm="ngForm"
  >
    <input
      type="text"
      class="form-control border-0 fs-5"
      id="task-input"
      ngModel
      name="task"
      required
    />
    <label for="task-input">{{
      !taskForm.valid && taskForm.touched ? "Required field" : "Input task"
    }}</label>
  </form>

  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-4">
        <button
          type="submit"
          class="btn btn-dark shadow fs-5 w-100 justify-self-center"
          form="form"
          [disabled]="!taskForm.valid"
        >
          {{ editMode ? "Update" : "Add" }}
        </button>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn border-secondary shadow-sm"
          form="form"
          [disabled]="!taskForm.valid"
          (click)="onClickCancel()"
        >
          <i class="bi bi-x-lg fs-5"></i>
        </button>
      </div>
    </div>
  </div>
</div>
