<div>
  <form
    class="form-floating mb-3 shadow-sm"
    id="form"
    ngNativeValidate
    (ngSubmit)="onSubmit(taskForm)"
    #taskForm="ngForm"
  >
    <input
      type="text"
      class="form-control border-0 fs-5"
      id="task-input"
      ngModel
      name="task"
      required
    />
    <label for="task-input">{{
      !taskForm.valid && taskForm.touched ? "Required field" : "Input task"
    }}</label>
  </form>
  <div class="d-grid col-6 mx-auto mb-5">
    <button
      type="submit"
      class="btn btn-dark shadow fs-5"
      form="form"
      [disabled]="!taskForm.valid"
    >
      Add
    </button>
  </div>
</div>
